/* universal style */

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 30px;
  margin-bottom: 100px;
}

/* heading style */

.main-icon {
  font-size: 40px;
  font-weight: 600;
  color: #4a4a4a;
}

.navigation {
  font-size: 18px;
  font-weight: 400px;
  line-height: 27px;
  color: #777777;
}

.btn-register {
  width: 120px;
  height: 50px;
}

/* curosel style start here */

.main-btn {
  background-color: #289bde;
  border: none;
  width: 180px;
  height: 56px;
  color: #ffffff;
  border-radius: 5px;
}

.caption-style {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-heading {
  font-size: 65px;
  font-weight: 600;
  line-height: 85px;
}

.curousel-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* courses style start here */

.main-heading {
  color: #1d1d1d;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}

.main-text {
  text-align: center;
  color: #777777;
  font-size: 16px;
  line-height: 30px;
}
.item-gap {
  gap: 20px;
}

.course-heading {
  color: #4a4a4a;
  font-size: 25px;
  font-weight: 600;
  line-height: 60px;
}

.course-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
  justify-content: center;
}

.course-price {
  color: #289bde;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.course-btn {
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
