/* universal style */

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 30px;
  margin-bottom: 100px;
}

/* heading style */

.main-icon {
  font-size: 40px;
  font-weight: 600;
  color: #4a4a4a;
}

.navigation {
  font-size: 18px;
  font-weight: 400px;
  line-height: 27px;
  color: #777777;
}

.btn-register {
  width: 120px;
  height: 50px;
}

/* curosel style start here */

.main-btn {
  background-color: #289bde;
  border: none;
  width: 180px;
  height: 56px;
  color: #ffffff;
  border-radius: 5px;
}

.caption-style {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-heading {
  font-size: 65px;
  font-weight: 600;
  line-height: 85px;
}

.curousel-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* courses style start here */

.main-heading {
  color: #1d1d1d;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}

.main-text {
  text-align: center;
  color: #777777;
  font-size: 16px;
  line-height: 30px;
}
.item-gap {
  gap: 20px;
}

.course-heading {
  color: #4a4a4a;
  font-size: 25px;
  font-weight: 600;
  line-height: 60px;
}

.course-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
  justify-content: center;
}

.course-price {
  color: #289bde;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.course-btn {
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

/* explore style start here */

.explore {
  background-color: #f4fafd;
}

.explore-title {
  font-size: 45px;
  color: #1d1d1d;
  font-weight: 600;
  line-height: 60px;
}

.explore-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #777777;
  text-align: justify;
}

.explore-paragraph {
  color: #777777;
}

/* ready to join start */
.join-heading {
  font-size: 45px;
  color: #f4fafd;
  font-weight: 600;
  line-height: 60px;
}

.join-text {
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  color: #f4fafd;
  text-align: justify;
}
.ready-to {
  padding: 80px;
  background-color: #289bde;
  height: 300px;
  border-radius: 5px;
}

.btn-join {
  background-color: white;
  color: #289bde;
  padding: 13px 33px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

/* student section style  */

.student-title {
  font-size: 20px;
  line-height: 30px;
  color: #4a4a4a;
  font-weight: 600;
}

.student-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #777777;
}

.card-wrapper {
  display: flex;
}

.student-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-color {
  color: #f59e0b;
}
.fa-star.empty {
  color: #aeaeae;
}

.student-feed {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
.accordion-button {
  display: block;
}

/* frequently Asked Question */
.question-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #4a4a4a;
}

.question-paragraph {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #777777;
}

/* footer style start here */
footer {
  background-color: #289bde;
  padding: 80px;
  margin-top: 40px;
}

.social-media {
  align-items: center;
}

.footer-heading {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #f4fafd;
}

.footer-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #f4fafd;
}
.icon-footer {
  color: #f4fafd;
}
